@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --text-light: #374151;
  --colour-primary: #0ea5e9; /* sky 500 */
  --colour-accent: #ffffff; /* white - currently unused */
  --text-dark: #374151; /* fallback (used if dark mode not triggered) */
}

.dark {
  --text-dark: #d1d5db;
  --colour-primary-dark: #38bdf8; /* sky 400 */
  --colour-accent-dark: #111827; /* gray 900 */
}

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  body,
  p,
  li {
    @apply text-[var(--text-light)] dark:text-[var(--text-dark)];
  }

  a,
  button {
    @apply text-[var(--text-light)] dark:text-[var(--text-dark)] hover:text-[var(--colour-primary)] dark:hover:text-[var(--colour-primary-dark)] transition;
  }

  h2 {
    @apply text-3xl font-bold text-[var(--colour-primary)] dark:text-[var(--colour-primary-dark)] text-center;
  }
}
